.heading {
    width:100%;
    text-align:center;
    font-size:25px;
    top:0;
    padding-top:10px;
}

.heading button {
    float:right;
    border:1px solid white;
}

#start, #status {
    font-size:22px;
}
